.text {

  &__half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }

  &__quote {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-style: italic;
  }

  p {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
